<div class="columns mt-6 is-centered">
    <div class="column is-one-third">
        <h1 class="is-size-2 has-text-weight-bold mb-e">Novo filme</h1>
        <b>
        <hr>
        <%= render 'form', film: @film %>

    </div>
</div>

